.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e8f4ed;
}

.input_boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E8F4ED;    
  
}

.input_box_city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
