.dashboard_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E8F4ED;    
}


.dashboard_display {
    /* border: solid black 2px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 25%;
    margin-right: 25%; */
    margin: 1% 25%;
    background-color: #DEDEDE;
}

.dashboard_body {
    background-color: #E8F4ED;
}

.img_display {
    margin: 1% 0;
}

.dash_btn {
    margin-bottom: 25%;
    cursor: pointer;
}

.new_btn {
    cursor: pointer;    
}